.dropbox
desktop.ini
.tmp
nul*
*.pdf
*.asv
*.eps
*.png
*.log
MIL.*
sxcmd.*
*.sx
*.lis
*.fsdef
*.str
*.ic0
*.st0
*.pa0
*.sw0
*.tr0
*.ac0
*.out
*.aux
*.blg
*.bbl
*.toc
*.dvi
*.bak
*.prj
*.ppl
*.lot
*.lof
*.tps
*.synctex
*.tmp
*.tps
*.pdfsync
*.ps
*.undo
*.tex~
*.tex.backup
*.project.vim
*.glg
*.glo
*.gls
*.ist
*.dcl
*.gz
*.spl
*.fls
*.brf
*.xml
*.bcf
*.nav
*.snm
*.idx
*.css
*.ilg
*.ind
*._*
*.ini
*.fdb*
